{% extends "base.html" %}

{% block title %}
	404 Page doesn't exist
{% endblock %}

{% block main %}
	<h1>
    404: Page Not Found
    </h1>
    <p>
    It looks like you're trying to access a page that doesn't exist.<br>
    This may be because the URL you followed is wrong, the page hasn't been implemented yet or an error occurred on the server.<br>
    Please check the URL or try again later.<br>
    If the issue persists, <a href="https://github.com/MdeKool/WiFiBlock/issues">make an issue</a> on <a href="https://github.com/MdeKool/WiFiBlock">GitHub</a>.
    </p>
{% endblock %}