{% extends "base.html" %}

{% block styling %}
    <link rel="stylesheet" href="/styling/index.css">
{% endblock %}

{% block main %}
    <h2>
    Hey there!
    </h2>
    <p>
    Welcome to this page which will be used to display the WiFi Blocks added by the (soon to be made) Minecraft
    Wi-Fi Block mod.<br>
    As you can see, there is not much to do here yet. You can navigate to the section where the blocks in your
    world (or server) will be located.<br>
    You can also see the plans for the future releases of both the MC mod and this page under the <a href="/plans">plans</a>
    page. <br>
    But for now, enjoy this dancing cat.
    </p>
    <img id="placeholder" src="/placeholders">
{% endblock %}