#blocks-container {
    border: 2px solid black;
    border-radius: 8px;
    overflow: hidden;
    justify-items: auto;
    margin: 8px;
}

#blocks {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.block {
    margin: 10px;
    width: 160px;
    height: 100px;
    background-color: dimgrey;
    color: black;
    outline: 2px solid black;
    border-radius: 10px;
}
.block p {
    margin: 6px;
}

.block-buttons {
    align-self: end;
    display: flex;
    justify-content: space-between;
}

.block-buttons button {
    background-color: grey;
    margin: auto;
    outline: #2f2f2f solid 2px;
    border: none;
    border-radius: 8px;
}

.block-buttons button:hover {
    background-color: #3f4f4f;
    transition: all 0.1s ease-in;
}